* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Good practice for box-sizing */
}

html {
  font-size: 22px; /* Ensure this is appropriate for all screen sizes */
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height, be cautious on mobile */
  width: 100%; 
  max-width: 500px; /* Max width for responsiveness */
  border: 1px solid mediumblue;
  margin: auto; /* Center the element horizontally in its container */
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between; /* Space items out in the header */
  align-items: center; /* Align items vertically in the center */
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  overflow-y: auto; /* Allow vertical scrolling if needed */
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center; /* Center content in the footer */
}
